#sidebar {
  width: 20%;
  background-color: white;
  padding: 16px;
  overflow-y: auto;
  border-right: 4px solid #ddd;
}
#sidebar ul {
  list-style: none;
  padding: 0;
}

section {
  width: 100%;
  padding-right: 1%;
}

.fa-search {
  padding: 5px;
}

a {
  text-decoration: none;
  display: flex;
}

.icon {
  height: 16px;
  width: 16px;
  object-fit: contain;
}
#sidebar ul li a {
  color: black;
}
#sidebar ul li a i {
  padding-right: 10px;
}

#sidebar li {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
}

/* hide sidebar */
#sidebar {
  transition: width 0.3s ease;
}

#sidebar.collapsed {
  width: 60px;
}

#sidebar.collapsed .sidebar-item span,
#sidebar.collapsed .project-title,
#sidebar.collapsed .project-subtitle,
#sidebar.collapsed select {
  display: none;
}

#sidebar.collapsed .project-logo {
  margin: 0 auto;
}
.fa-ellipsis-h {
  margin: 10px;
}
button#toggle-sidebar {
  margin-bottom: 1vh;
}

#sidebar ul li:hover,
.nav-item:hover {
  background-color: rgb(196, 213, 246);

  border-radius: 2%;
}

@media (max-width: 768px) {
  #sidebar {
    width: 60px;
    margin-left: 0;
    margin-right: 0;
    padding-right: 0;
  }
  .project-logo {
    display: none;
  }
  #sidebar .sidebar-item span,
  #sidebar .project-title,
  #sidebar .project-subtitle,
  #sidebar select {
    display: none;
  }

  #sidebar .project-logo {
    margin: 0 auto;
  }
  .sidebar-item  {
    display: flex;
    justify-content: center; 
    padding-right: 0;
    margin-right: 0;
  }
  button#toggle-sidebar {
  display: none;
}
}
